html {
       height: 100%;
       margin: 0;
       padding: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'Bitcount';
    src: url('/fonts/Bitcount_Cursive-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BitcountSingle';
    src: url('/fonts/BitcountSingle_Cursive-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.bg-wrap {
    position: fixed;
    inset: 0;
    z-index: -1;
    background: url('/bgstars.gif') repeat center center;
    background-size: auto;
    image-rendering: pixelated;
    height: 100vh;
}

.bg-wrap::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(0.5px);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 10;
    text-align: center;
    color: #fff;
    font-family: 'Bitcount', sans-serif;;
}

.title-box {
    font-family: 'BitcountSingle', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    z-index: 2;
    position: relative;
    color: #fff;
    background-color: #000;
    width: 60%;
    border-radius: 8px;
    border: 1px solid #fff;
}

.content-box {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    background-color: #000;
    border-radius: 8px;
    border: 1px solid #fff;   
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

@media (max-width: 768px) {
  
    .bg-wrap {
    background: #000 !important;
    background-size: auto;
  }

  .content-box {
    font-size: 1rem;
    padding: 1rem;
  }

  header {
    font-size: 0.9rem;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .bg-wrap {
    background: #000 !important;
    background-size: auto;
  }

  .title-box {
    width: 95%;
    font-size: 1.5rem;
    margin: 2rem auto 1.5rem;
  }

  .content-box {
    font-size: 0.9rem;
    padding: 0.8rem;
  }

  header {
    font-size: 0.8rem;
    height: 45px;
  }

  p {
    font-size: 0.9rem;
  }
}