#mission-control {
	text-align: center;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
}

.svg-box {
	position: relative;
	width: 1000px;
	height: 300px;
	margin: 0 auto;	
}

.svg-box svg {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}

.landing-link {
	position: absolute;
	top: 50px;
	z-index: 2;
	text-decoration: none;
	font-size: 1rem;
}	

#iss-link {
	left: 125px;
}

#images-link {
	left: 425px;
}

#exoplanet-link {
	left: 700px;
}

.landing-link a {
	color: #fff;
	text-align: center;
	display: inline-block;
	width: 150px;
	font-family: 'Orbitron', sans-serif;
}

.landing-icon {
	width: 40px;
	color: #fff;
}

.landing-icon svg {
	width: 150px;
	height: 150px;
}

a {
	text-decoration: none;
	top: 20px;
}

.svg-layout {
	display: block;
}

.stack-layout {
	display: none;
}

@media (max-width: 768px) {

  header {
	font-size: 1.3rem;
  }	

  #mission-control {
	padding: 1.5rem 1rem;
  }

  .title-box {
	width: 90%;
	font-size: 2.5rem;
	margin: 4rem auto 1.5rem;
  }

  .svg-layout {
    display: none;
  }

  .svg-box {
	display: none;
  }

  .stack-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: space-around;
	min-height: 60vh;
    margin-top: 2rem;
  }

  .stack-layout a {
    font-family: 'Orbitron', sans-serif;
    font-size: 2.5rem;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 1rem 1.5rem;
    border-radius: 8px;
	width: 90%;
	box-sizing: border-box;
  }

  .stack-layout a:hover {
    background-color: #222;
  }
}

@media (max-width: 480px) {
   header {
	font-size: 1.2rem;
  }

  .title-box {
	width: 95%;
	font-size: 2rem;
	margin: 3rem auto 1.5rem;
  }

  .stack-layout a {
	font-size: 2rem;
	padding: 0.8rem;
	width: 100%;
	box-sizing: border-box;
  }
}