---
import Layout from '../layouts/Layout.astro';
import ISSPositions from '../components/ISSPositions.vue';
import '../styles/iss.css';
---

<Layout title="ISS Tracker">
  <section id="iss-main">
    <section class="title-box">
      <h1 class="main-title">ISS Tracker</h1>
    </section>
    
    <section id="iss-box">
      <section id="coordinates" class="content-box">
    <h2>Coordinates</h2>
    <p id="iss-p">Track the location of the International Space Station in real time.</p>
  <ISSPositions client:load />
      </section>
        <section id="map" class="content-box">
      <p>map here soon &#x2661;</p>
    </section> 
    </section>
  </section>
</Layout>  