---
import Layout from '../layouts/Layout.astro';
import ISSWrapper from '../components/ISSWrapper.vue';
import '../styles/iss.css';
---

<Layout title="ISS Tracker">
  <section id="iss-main">
    <ISSWrapper client:only="vue" />
  </section>
</Layout>