---
import Layout from '../layouts/Layout.astro';
import ISSWrapper from '../components/ISSWrapper.vue';
import '../styles/iss.css';
---

<Layout title="ISS Tracker">
  <section id="iss-main">
    <section class="title-box">
      <h1 class="main-title">ISS Tracker</h1>
    </section>

    <ISSWrapper client:only="vue" />
  </section>
</Layout>