---
import Layout from '../layouts/Layout.astro';
import ISSPositions from '../components/ISSPositions.vue';
---

<Layout title="ISS Tracker">
  <h2>Live International Space Station Coordinates</h2>
  <ISSPositions client:load />
</Layout>  