
---
const { title = "NGC-1961" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <header>
      <h1>NGC-1961</h1>
    </header>

    <main>
      <slot /> 
    </main>

    <footer>
      <p>Built with 🚀</p>
    </footer>
  </body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
