
---
const { title = "NGC-1961" } = Astro.props;
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="bg-wrap"></div>
    <header>
      <h1>NGC-1961</h1>
    </header>

    <main>
      <slot /> 
    </main>
  </body>
</html>